


.p_space{width: 850px; height: 15px; padding: 5px 10px 0 20px;}
.cart-title  h1{color:red;}

.cart-table table{width:1100px;}
.data-table{width:1100px;border:1px solid white;}
.header-table{width:150px;height:50px;text-align:center;color:black;font-size:16px;border:1px solid #dedede;}
.content-table{width:30px;height:50px;text-align:center;color:black;padding:7px;font-size:15px;}
.content-table input{width:90px;height:40px;    background: #ca7474;font-size:14px;color:white;}
.price {color:red;}
#soluong{background:white;height:35px;width:40px;text-align:center;color:black;border:1px solid #dedede;}
#add{float:left;margin-left:10px;}
#content-table{border-top:solid 1px #dedede;border-bottom:solid 1px #dedede;}
.end{width:1100px;height:230px}
.end-right{float:right;width:500px;height:200px;margin-top:10px;}
.end-1{float:right;width:500px;height:100px;background:#aae9aa;}
.end-2{float:right;width:500px;height:100px;background:white;}
.thanh-tien{width:500px;height:50px;float:right;text-align:right;font-size:15px;}
.thanh-tien input{width:150px;height:30px;margin-right:5px;margin-top:7px;text-align:center;}
.thanh-toan input{float:right;width:150px;height:50px;margin-right:0px;margin-top:17px;font-size:14px;color:white;}
.btn{
    border-radius: 5px;
    width: 170px;
    height: 36px;
    display: inline-block;
    background: #1C8D96;
    color: white;
    transition: background 0.5s
}



