
@{
    ViewBag.Title = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <table style="width:850px;" class="data-table">
            <tr>
                <h2>
                    Mua hàng thất bại!
                </h2>

            </tr>

        </table>

    </div>

