@model List<BookShop.Models.CartItem>
<div class="gio-hang">
    <div class="hinh-anh">
        <a href="@Url.Action("Index", "Cart")"><img src="/Assets/Client/images/Shopping-Cart-Icon.png" alt=""></a>
    </div>
    <div class="noi-dung">
        <div class="text"><a href="@Url.Action("Index", "Cart")">Giỏ hàng</a></div>
        <div class="soluong">Hiện có : @Model.Count sản phẩm </div>
    </div>
</div>